/JAVA/LabSixOverloading/build/
/JAVA/practice/JavaApplication3/nbproject/private/
/JAVA/practice/practice/build/
/JAVA/practice/practice/nbproject/private/
/JAVA/practice/test/build/
/JAVA/practice/test/nbproject/private/
/JAVA/JavaApplication4/nbproject/private/
/JAVA/LabExercise/nbproject/private/
/JAVA/LabSevenAbstraction/nbproject/private/
/JAVA/LabEightInterface/nbproject/private/
/JAVA/Assignmentone/nbproject/private/
/JAVA/Assignmentone/build/
/JAVA/Interface/nbproject/private/
/JAVA/PaymentMethodImplementation/nbproject/private/
/JAVA/Interface/build/
/JAVA/LabNineSwingComponent/nbproject/private/
/JAVA/LabNineSwingComponent/build/
/JAVA/LabTenJdbc/nbproject/private/
/JAVA/LabTenJdbc/build/
/JAVA/LabElevenEventHandling/nbproject/private/
/JAVA/LabElevenEventHandling/build/
