h1
{
    background-color: palegoldenrod;
}
p
{
color: purple;
}
h3
{
    background-color: palegreen;
}
h2
{
    background-color: lightblue;
    color: purple;
}

#a{
background-color: peachpuff;
}

#b{
    background-color: palegreen;
    }
    #c{
    background-color: plum;
    }

.abc{
    background-color: palevioletred;
    color: black;

}
