body{
    background-color: #dfdfdf;
}
.header {
    background-image: url(pic.jpg);
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
}

.nav {
    display: flex;
    margin-bottom: 1%;
    height: 7vh;
    background-color: #000000;
    position: sticky;
    top: 0;
}

.footer {
    background-color: rgb(171, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    margin-top: .5rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 0px;
    align-content: center;
}

a:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.main{
    display: flex;
    flex-direction: row;
}

.left{
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
    flex-shrink: 1;
    width: 100%;
    padding: 5px;
}

.right{
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    flex-shrink: 2;
    flex-basis: auto;
}

.img{
    background-color: #9f9d9d;
    height: 20vh;
}

.image{
    background-color: #9f9d9d;
    height: 10vh;
}

.leftPost{
    margin-bottom: 1rem;
    background-color: #ffffff;
    padding: 5px;
}

.left:last-child{
    margin-bottom: 0;
}


.rightpost{
    margin-bottom: 1rem;
    background-color: #ffffff;
    padding: 5px;
}

.right:last-child{
    margin-bottom: 0;
}

.farlink{
    margin-left: 89.4%;
}